mixin gallery-figure(imageName, imageSize, imageCaption)
  figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
    a.js-pw-link(href="./img/" + imageName + ".jpeg", itemprop="contentUrl", data-size=imageSize)
      img(src="./img/" + imageName + ".jpeg", itemprop="thumbnail", alt=imageCaption)
      figcaption(itemprop=imageCaption) #{imageCaption}

mixin project-nav(nextProject)
  nav.project-nav
    ul
      li
        a(href="#makingof", data-value="making of & info") making of & info
      li
        a.js-smooth-link.js-next(href="./" + nextProject + ".html", data-value="next project") next project

mixin project-header(projectName, heroImage, heroCaption, videoUrl)
  header.hero-area
    img(src="./img/" + heroImage + ".jpeg", alt=heroCaption)
    h1.project-name #{projectName}
    a(href=videoUrl, data-lightbox="")
      span(data-value="play") play
      
mixin social-bar
  aside.social-bar
    nav
      ul
        li
          a.facebook(target="_blank", href="https://de-de.facebook.com/ShyCollective/")
            span facebook
        li
          a.vimeo(target="_blank", href="https://vimeo.com/shycollective")
            span vimeo
        li
          a.instagram(target="_blank", href="https://www.instagram.com/shycollective/")
            span instagram
